.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.card {
  padding: 30px;
  width: 50%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #cbced2;
}

.heading {
  color: #326a9d;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 28px;
}

.paragraph {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 16px;
}

.button {
  background-color: #ffff;
  font-family: 'Roboto';
  color: #326a9d;
  border: 2px solid #326a9d;
  font-size: 10px;
  font-weight: bold;
  border-radius: 4px;
  padding: 6px;
}
